@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScrollbar::-webkit-scrollbar {
    display: none;
}
.group:hover .absolute {
    display: block;
    text-color : rgba(37, 37, 37, 0.61)  
}

.slider{
    accent-color: red;
    padding: 0;
    margin: 0;
}
